html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
  }
  
  body {
    margin: 0;
    background: #e4e3e3;
    font-size: 1em;
  }

  .container-calendar {
    background: #9b9797;
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }
  .Moses{
      text-align: right;
  }
  .title{
     text-transform: uppercase;
     padding: 4px;
  }
  .button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: crimson;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 7px 14px;
  }
  
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
    height: 60vh;
  }
  
  .table-calendar td, .table-calendar th {
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }
  
  .date-picker.selected {
    background-color: crimson;
    padding: 4px 4px;
    color: #ffffff;
  }
  

  .date-picker:nth-child(1) {
  color: red;
  }
  
  .date-picker:nth-child(6) {
  color: green;
  }
  
  #monthAndYear {
    text-align: center;
    margin-top: 0;
  }
  
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
  }
  
  #previous {
    float: left;
  }
  
  #next {
    float: right;
  }
  
  .footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
  }
  
  .footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }